nav ul a,
nav .brand-logo {
  margin: 3px;
}

.sidenav {
  background-color: #f6f6f8;
  height: 50%;
}

.sidenav a:hover {
  color: #4646a5;
}

.sidenav-trigger {
  color: rgb(0, 0, 0);
}

a:hover {
  color: #4646a5;
  text-decoration: none;
  cursor: pointer;
}

.btn {
  margin: 1vw;
  background-color: #4646a5;
}

.loggutKnapp {
  margin: 1.5vh;
  background-color: #4646a5;
}

.btn:hover {
  background-color: #a1a1a1;
}

input:not([type]):focus:not([readonly]),
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="url"]:not(.browser-default):focus:not([readonly]),
input[type="time"]:not(.browser-default):focus:not([readonly]),
input[type="date"]:not(.browser-default):focus:not([readonly]),
input[type="datetime"]:not(.browser-default):focus:not([readonly]),
input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
input[type="tel"]:not(.browser-default):focus:not([readonly]),
input[type="number"]:not(.browser-default):focus:not([readonly]),
input[type="search"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #321aa0a6;
  -webkit-box-shadow: 0 1px 0 0 #321aa0a6;
  box-shadow: 0 1px 0 0 #321aa0a6;
}

.stor-text {
  color: white;
  background-color: #4646a5;
  text-align: center;
  height: auto;
  width: auto;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: bold;
  color: floralwhite;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 10px 10px grey;
  font-family: "Source Serif Pro", serif !important;
}

.liten-text {
  font-size: 16px;
  color: #000000;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
}

.tittel-tekst {
  font-family: "Source Serif Pro", serif;
}

.profilStorTekst {
  font-size: 20px;
  font-weight: bold;
}

.backgroundposter {
  background: antiquewhite;
  padding-top: 144px;
  padding-bottom: 144px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-top: 80px;
  border-radius: 25px;
  box-shadow: 10px 10px grey;
}

.row {
  margin: auto !important;
}

#blah {
  width: 50%;
  object-fit: cover;
}

.nominerKort {
  width: 400px;
}

.nominerKort p {
  float: left;
  margin-right: 5px;
  height: auto;
}

.float-right {
  float: right;
  margin-top: 18px;
}

.width-margin {
  width: 400px !important;
}

.loginPanel {
  margin-top: 50px;
}
.navBilde {
  margin-top: 6px;
}
.sideNavBilde {
  margin-top: 20px;
  margin-left: 20px;
}

.homePanel {
  margin-top: 20px;
}

.glemtPassordPanel {
  margin-top: 50px;
}

.registrerPanel {
  margin-top: 50px;
}

@media only screen and (max-width: 600px) {
  .width-margin {
    width: 300px !important;
    margin: 0 10px 10px 0;
  }
  .stor-text {
    font-size: 140%;
  }
  .liten-text {
    font-size: 120%;
  }
}

.nomList {
  list-style: none;
}

.nomList :hover {
  color: #4646a5;
}

.myProfile {
  margin-top: 25px;
  margin-left: 45px;
  text-align: center;
}

.myProfile h5 {
  font-family: "Source Serif Pro", serif;
  font-size: 20px;
}

.profiBilde {
  margin-top: 10px;
}

.white {
  border-bottom: 1px solid #4646a5 !important;
}

.card-panel {
  background-color: #f6f6f8;
}

.homePanel {
  margin-top: 30px;
}
